@desktop: 960px;
@bottom-padding: 64px;

html, body {
  margin: 0;
  padding: 0;
  min-width: 380px !important;
  overflow-x: hidden;
}

#app.app {
  > .header {
    height: 48px;
    .md-sidenav-content {
      background-color: white;
      .md-list-item {
        .md-list-item-container {
          justify-content: flex-start;
          &.router-link-active {
            background-color: rgba(153, 153, 153, 0.2);
          }
        }
      }
    }
  }
  > .content {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: @bottom-padding*2;
    position: relative;
    .form-container {
      position: relative;
      min-height: 300px;
      display: flex;
    }
    .card-list {
      .header {
        height: 40px;
        margin: 10px 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .add-button {
        position: fixed;
        bottom: @bottom-padding;
      }
      .content {
        display: flex;
        justify-content: space-around;
        &.default {
          flex-direction: row;
          @media (max-width: @desktop) {
            flex-direction: column;
          }
        }
        &.reverse {
          flex-direction: row-reverse;
          @media (max-width: @desktop) {
            flex-direction: column-reverse;
          }
        }

        .md-card {
          width: 100%;
          max-width: 400px;
          margin: 0 4px 16px;
          display: inline-block;
          vertical-align: top;
          @media (max-width: @desktop) {
            max-width: 100%;
          }
          .md-card-actions {
            justify-content: space-between;
          }
        }
      }

    }
  }
  > .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .lang {
      height: 64px;
      line-height: 64px;
      cursor: pointer;
      &.active {

      }
    }
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}